h1 {
    text-align: center;
    color: blueviolet;
    text-decoration: solid;
    text-decoration: underline;
}

body {
    background-color: pink;
    border: 3px solid black;
}

td {
    margin-left: 200px;
}

.form {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
}

table {
    width: 100%;
}

button {
    margin: 6px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}